sudo: false
language: php
php:
- 7.2
before_script:
- composer self-update
- composer install
script:
- export BRANCH=$TRAVIS_BRANCH
- if [ ${BRANCH} != "master" ]; then
  exit 0;
  fi
- vendor/bin/phpunit --config=phpunit.unit.xml
before_deploy:
- git config --global user.email "builds@travis-ci.com"
- git config --global user.name "Travis CI"
- export GIT_TAG=$(awk -F "=" '/SDK_VERSION/ {print $2}' src/settings.ini)
- export TIMESTAMP=$(date +"%Y%m%d%H%M%S")
- git tag -a $GIT_TAG -m "Version for git tag $GIT_TAG."
- ${GH_TOKEN}
- git push --quiet https://$GH_TOKEN@github.com/Sanjeev139/PHPAccessSDKTest.git --tags > /dev/null 2>&1
deploy:
  provider: releases
  api_key: $GH_TOKEN
  file: Sdk-access-Php-$GIT_TAG-$TIMESTAMP.zip
  skip_cleanup: true
  on:
    tags: false
    all_branches: true
notifications:
  email:
    recipients:
    - sanjeev1992jha@gmail.com